{% extends "admin-structure.html" %}
{% block main%}
	
	<h3>Admin logged in</h3>
	<div  class="container">
		<hr>
		<table class="table table-dark">
			<thead>
			  <tr>
				<th class="text-center" scope="col">Total user signups</th>
				<th class="text-center" scope="col">Total signups in the last 24 hours</th>
				<th class="text-center" scope="col">Total lists created</th>
				<th class="text-center" scope="col">Lists created in the last 24 hours</th>
			  </tr>
			</thead>
			<tbody>
			  <tr  class="table-secondary">
				<td class="text-center"><a href="{{ url_for('admin_users') }}" >{{countLogs}}</a></td>
				<td class="text-center"><a href="{{ url_for('admin_users') }}" >{{countLogs24h}}</a></td>
				<td class="text-center"><a href="{{ url_for('admin_users') }}" >{{countLists}}</a></td>
				<td class="text-center"><a href="{{ url_for('admin_users') }}" >{{countLists24h}}</a></td>
			  </tr>
			</tbody>
		</table>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro dolore, temporibus tempore, necessitatibus qui voluptates magni sapiente at harum reprehenderit corporis nam quisquam, laborum tenetur ipsa et enim vero?</p>
		<hr>
		<p class="text-left text-lowercase">Left aligned text.</p>
		<p class="text-center text-uppercase">Center aligned text.</p>
		<p class="text-right text-capitalize">Right aligned text.</p>
		<p class="text-justified">Justified text.</p>
		<p class="text-nowrap">no wrap text.</p>
		<div class="clearfix">
			<div class="float-md-end">Div floated to the right</div>
		</div>
		<hr>
		<blockquote class="blockquote">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium magni ad eum impedit odit laudantium ipsam, atque hic? Sed debitis nulla modi veritatis fugiat perspiciatis laudantium consequuntur dicta possimus sunt?</p>
			<footer>Quote by<cite title="John Doe">John Doe</cite></footer>
		</blockquote>
		<ul class="list-unstyled">
			<li>Item One</li>
			<li>Item Two</li>
			<li>Item Three</li>
			<li>Item Four</li>
		</ul>
		<ul class="list-inline">
			<li>Item One</li>
			<li>Item Two</li>
			<li>Item Three</li>
			<li>Item Four</li>
		</ul>

	</div>

	<div class="container">
		<button class="btn btn-primary">Default</button>
		<a href="#" class="btn btn-secondary" role="button">Link</a>
		<input class="btn btn-success" type="submit" value="Submit">

	</div>
<!-- 1. If someone visits the /admin page, they should view an HTML login form (just for Admins, completely separate from the user's login form). The admin you created should be the only user allowed to login there. Any other user credentials should fail.

2. Once an Admin logs in, they should view a dashboard. The dashboard should display 4 metrics:
   A: Total user signups
   B: Total signups in the last 24 hours
   C: Total lists created
   D: Lists created in the last 24 hours

3. If the admin clicks on either of the User metrics, they should be taken to the /admin/users page. This page should display a table that lists the last 50 users who have signed up. If there are more than 50 users in the system, there should be a "more" button that takes the admin to the next page of results. The admin should be able to click through paginated pages to eventually view all of the users in the system.

4. If the admin clicks on any of the users in the table, they should view all of the user details except the password. They should then be able to click a button to delete the user. Deleting the user should automatically delete all of the user's associated lists and tasks as well.

5. Once you have built these features into your application, choose a different frontend library than the one you used for Homework #5. Use this other library to style your Admin dashboard accordingly. For example: if you used Twitter Bootstrap for homework 5, then use Foundation or one of the others for this project.-->

{% endblock main%}
