{% extends "structure.html" %}
{% block logout %}
<li><a href="/logout">Sign out</a></li>
{% endblock logout %}
{% block main%}
<br>
<div class="row">
  <form class="col s12" method="post">
    <div class="row">
      <div class="input-field col s6">
        <label class="active" for="list">List</label>
        <input class="validate" name="list" id="list" value="{{ request.form['list'] }}" required>
        <input type="submit" value="Save">
      </div>
    </div>
  </form>
</div>

{% endblock %}