{% extends "structure.html" %}
{% block logout %}
<a href="/logout">Sign out</a>
{% endblock logout %}
{% block main%}
<br>
<form method="post" >
    <label for="task">Task</label>
    <input name="task" value="{{text[0]}}" required>
    <label for="deadline">Deadline</label>
    <input name="deadline" value="{{text[1]}}" required>
    <label for="completion">Completion</label>
    <input name="completion" value="{{text[2]}}" required>
    <label for="status">Status</label>
    <input name="status" value="{{text[3]}}" required>
    <input type="submit" value="Save">
  </form>
  

{% endblock %}