{% extends "structure.html" %}
{% block logout %} 
	{% if message == "in" %}
		<li style="background-color: red;"><a href="/logout">Sign out</a></li>
		<li><a href="/settings">Settings</a></li>
	{% else %}
		<li style="background-color: green;"><a href="/login">Log in</a></li>
		<li><a href="/signup">Sign in</a></li>
	{% endif %}
{% endblock logout %}
{% block main%}
	<br>
	<h2>Terms of use</h2>
	<p>You can use this application as long as you don't make money with it!</p>
	<br>


{% endblock main%}